<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Add A User's Major</div>
                <div class="panel-body">

                    <%= form_for :users_major, url: '/users_majors', html:{class: "form-horizontal"} do |f| %>

                        <div class="form-group">
                            <label class="col-md-4 control-label">User</label>
                            <div class="col-md-6">
                                <%= collection_select(:users_major, :user_id, User.all, :id, :name, {:prompt => true}, {:class => 'form-control chosen-select'}) %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Major</label>
                            <div class="col-md-6">
                                <%= collection_select(:users_major, :major_id, Major.all, :id, :name, {:prompt => true}, {:class => 'form-control chosen-select'}) %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <%= f.submit "Submit", class: "btn btn-default" %>
                            </div>
                        </div>

                    <% end %>
                
                </div>
            </div>
        </div>
    </div>
</div>