<div class=" col s12" style="margin-bottom: 20px">
    <%= collection_select(:course, :id, Course.all, :id, :fullCourseName, {:prompt => true}, {:class => 'form-control chosen-select col s12', :id => 'add_course'}) %>
    <button class="waves-effect waves-light btn blue-grey col s12" id="generate_course" style="margin-top: 10px">Generate</button>
</div>