<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Update Database</div>
                <div class="panel-body">

                    <p><a href="/majors">Add Major</a></p>
                    <p><a href="/distributions">Add Distribution</a></p>
                    <p><a href="/courses">Add Course</a></p>
                
                </div>
            </div>
        </div>
    </div>
</div>