<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Add A Major</div>
                <div class="panel-body">

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                <%= @major.name %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Total Hours</label>
                            <div class="col-md-8">
                                <%= @major.total_hours %>
                            </div>
                        </div>

                        <div class="col-md-12 col-md-12">
                            <div class="pull-right">
                                <%= link_to "Edit Major", controller: "majors", action: "edit", id: @major.id, :class => "col-sm-2" %>
                            </div>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div>