<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<div class="container-fluid">
    <div class="row col-md-12">
        <div class="col-md-12 text-center" style="margin: 10px 10px 20px 10px">
            <a href="/users_minors/new"><button class="btn btn-default">Add A User's Minor</button></a>
        </div>
                    
                <% @users.each do |user| %>
                    <div class="panel panel-default col-md-4" style="padding: 0 0 0 0; margin: 10px">
                        <div class="panel-heading">
                            <%= link_to users_minor_path(:id => user.id), :method => :get do %><%= user.name %><% end %>
                        </div>
                        <% user.minor.each do |minor| %>
                        <div class="panel-body">
                            <div class="col-sm-10">
                                <p><%= minor.name %></p>
                            </div>
                            <%= link_to users_minor_path(:user_id => user.id, :id => minor.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => "col-sm-2" do %>
                                    <i class="fa fa-times"></i>
                                <% end %>
                        </div>
                        <% end %>
                    </div>
                <% end %>

        </div>
    </div>
</div>