<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" style="margin: 10px 10px 20px 10px">
            <a href="/concentrations/new"><button class="btn btn-default">Add A Concentration</button></a>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Concentrations</div>
                <div class="panel-body">

                
                    <% @concentrations.each do |concentration| %>
                        <%= link_to concentration_path(:id => concentration.id), :method => :get do %>
                        <div class="panel panel-default col-md-6" style="padding-left: 0px; padding-right: 0px;">
                            <div class="panel-body">
                                <div class="col-sm-11">
                                    <p><%= concentration.name %></p>
                                </div>
                                <%= link_to concentration_path(:id => concentration.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => "col-sm-1" do %>
                                    <i class="fa fa-times"></i>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>