<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Add A Distribution</div>
                <div class="panel-body">

                    <%= form_for @distribution, html:{class: "form-horizontal"} do |f| %>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <%= f.text_field :title, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <%= f.submit "Submit", class: "btn btn-default" %>
                            </div>
                        </div>

                    <% end %>
                
                </div>
            </div>
        </div>
    </div>
</div>